<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>578578395924-eklrf61snej8aehu208grl9lkjsn21u5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.578578395924-eklrf61snej8aehu208grl9lkjsn21u5</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>578578395924-1rpm3n0kooip5cjdssbfkrli91qrbkaa.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDLRIDtIAktt5njflhsGZ3s_MhlLQNZlmg</string>
	<key>GCM_SENDER_ID</key>
	<string>578578395924</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bomber.bomberapp</string>
	<key>PROJECT_ID</key>
	<string>bomber-app-project-394211</string>
	<key>STORAGE_BUCKET</key>
	<string>bomber-app-project-394211.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:578578395924:ios:f86a8cc666f7c1d70f4801</string>
</dict>
</plist>